ion-content {
    --background: #e3dfe6;
}

#header {
    height: 50%;
    background: var(--ion-color-orange);
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;

    #logo {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        align-self: center;
        margin-top: 20%;
        img {
            width: 180%;
        }
    }
}
h2 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 5px;
}

ion-card {
    box-shadow: none;
    position: absolute;
    top: 37%;
    left: 5%;
    right: 5%;
    border-radius: 20px;

    h1 {
        font-weight: bold;
        font-size: 19px;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        text-align: center;
        font-size: 16px;
        margin-bottom: 23px;
    }

    ion-button {
        height: 40px;
        box-shadow: none;
        text-transform: initial;
        font-size: 15px;
        letter-spacing: 0;
        font-weight: 420;
    }

    .line-text {
        padding: 2px;
        margin-top: 40px;
        position: relative;
        height: 20px;
        .lines {
            height: 2px;
            background: #858585;
            display: block;
        }

        .text {
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translate(-50%);
            background: #fff;
            padding: 6px 8px;
            font-size: x-small;
            font-weight: 500;
            color: #858585;
        }
    }

    .socials {
        display: flex;
        justify-content: center;

        ion-button {
            margin: 0 5px;
            --padding-start: 12px;
            --padding-end: 12px;

            ion-icon {
                font-size: 18px;
            }
        }
    }
}

.container-card {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;

    ion-card-content {
        padding-top: 0;
        padding-bottom: 0;
    }
}
