// ion-header {
//     position: absolute;
// }

// ion-toolbar {
//     --ion-background-color: transparent;
//     --opacity: 0;
// }

// ion-content {
//     --ion-background-color: #e1eaf9 !important;
//     --ion-item-background: transparent !important;
// }

// .wrapform {
//     margin-top: 15px;
// }
// .error_message {
//     font-size: small;
//     color: red;
// }
// ion-item {
//     color: #647b9d;
//     --border-color: #d4d7db;
//     --highlight-color-focused: #1248a0;
//     --padding-start: 0;
//     --inner-padding-end: 0;
//     font-size: 12px;
//     ion-input {
//         color: #647b9d;
//     }
//     ion-icon {
//         padding-right: 6px;
//         font-size: 18px;
//     }

//     ion-input:hover {
//         color: #1248a0;
//     }
// }

// .password_forgot {
//     text-align: right;
//     ion-button {
//         font-size: 12px;
//         color: #0a4296;
//     }
// }

// .sign-btn-wrap {
//     text-align: center;
//     padding-top: 20px;
//     .sign-btn {
//         --ion-primary-color: #215ab7;
//         --background-activated: #e1eaf9;
//         --background-focused: #e1eaf9;
//         --background-hover: #647b9d;
//         color: #f4f6fa;
//         border-radius: 25px;
//         --background: #215ab7;
//         background-color: #215ab7;
//     }
// }

// .text-tag {
//     margin-top: 30px;
//     text-align: center;
//     span {
//         font-size: 13px;
//         font-weight: normal;
//         color: #898585;
//     }
// }

// .social-btns {
//     margin-top: 25px;
//     text-align: center;
//     ion-button {
//         width: 40px;
//         padding-left: 5px !important;
//     }
// }

// ion-card {
//     --ion-background-color: transparent !important;
//     box-shadow: none !important;
//     background-color: transparent !important;
// }

// .ion-card-footer {
//     width: 100%;
//     height: 40px;
//     align-items: center;
//     justify-content: center;
//     display: flex;

//     span {
//         color: #85888d;
//         font-size: 12px;
//         font-weight: 200;
//     }

//     button {
//         background-color: transparent;
//         font-size: 14px;
//         font-weight: 600;
//         padding-left: 3px;
//         color: #535558;
//     }

//     button:hover {
//         color: #969393;
//     }
// }

ion-content {
    --background: #e3dfe6;
    #header {
        height: 33%;
        background: var(--ion-color-orange);
        border-radius: 0 0 20px 20px;
        display: flex;
        flex-direction: column;
        color: #fff;
        padding: 20px;

        #app-bar {
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            ion-icon {
                font-size: 25px;
                margin-left: -5px;
            }

            #logo {
                width: 12%;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;

                img {
                    width: 100%;
                }
            }
        }

        h1 {
            text-align: center;
            font-size: 14px;
            margin-bottom: 5px;
        }
        p {
            text-align: center;
            font-size: 11px;
            line-height: 1.4;
        }
    }

    .wrapper {
        position: absolute;
        top: 26%;
        left: 4%;
        right: 4%;

        .form-wrapper {
            box-shadow: none;
            border-radius: 20px;
            padding: 15px 0;
            margin-left: 0;
            margin-right: 0;

            ion-item {
                --background: #efefef;
                --padding-start: 10px;
                --highlight-height: 0;
                --border-width: 0;
                --padding-top: 0;
                --min-height: 40px;
                margin-bottom: 15px;
                border-radius: 15px;

                ion-icon {
                    font-size: 17px;
                }

                ion-input, ion-select, ion-select-option {
                    margin-left: 10px;
                    font-size: 11px;
                }

                ion-button {
                    margin-top: 25px;
                }
            }
        }

        .line-text {
            padding: 0 30px;
            position: relative;
            height: 20px;

            .lines {
                height: 1px;
                background: #858585;
                display: block;
            }

            .text {
                position: absolute;
                top: -7px;
                left: 50%;
                transform: translate(-50%);
                background: #e3dfe6;
                padding: 0 15px;
                // font-size: 12px;
                font-size: x-small;
                font-family: 'codePro-Regular';
                font-weight: 500;
                color: #5e5e5e;
            }
        }

        .social-wrapper {
            box-shadow: none;
            border-radius: 20px;
            margin: 0;

            .socials {
                display: flex;
                justify-content: center;
                padding: 5px;
        
                ion-button {
                    margin: 0 5px;
                    --padding-start: 12px;
                    --padding-end: 12px;
        
                    ion-icon {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
